NEXT_PUBLIC_APPWRITE_BUCKET_ID=6aa93732001b5373c639
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=6aa9363c000f7ad5ebf7
NEXT_PUBLIC_SITE_URL=https://www.wisdom-tower-academy.live
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFtaWVjem1wcXJ2YXZ6amlrYmRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgwNTI1NjMsImV4cCI6MjEwMzYyODU2M30.43tFoSgYSxXxMeeTAXbFEMQuh5rjgCYuWo3OWbrO2-U
NEXT_PUBLIC_SUPABASE_URL=https://amieczmpqrvavzjikbdi.supabase.co
