AFRICASTALKING_API_KEY=
AFRICASTALKING_FROM=
AFRICASTALKING_USERNAME=
AI_EXPLAIN_MODEL=
AI_GATEWAY_API_KEY=
AI_GATEWAY_MODEL=
APPWRITE_API_KEY=
APPWRITE_BUCKET_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_KEY=
GROQ_API_KEY=
GROQ_API_KEY_TUTOR=
KEYSTORE_BASE64=
KEYSTORE_PATH=
KEY_ALIAS=
KEY_PASSWORD=
NEXT_PUBLIC_APPWRITE_BUCKET_ID=
NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_DIGITAL_URL=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
RESEND_API_KEY=
RESEND_FROM=
STORE_PASSWORD=
SUPABASE_SERVICE_ROLE_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM=
VERIFY_ET_API_KEY=